.footer-build {
	background-color: #3b3b3b;
	margin: 100;
	display: flex;
	flex-direction: column;
	/* bottom: 0; */
	display: flex;
	grid-row: 2;
	height: 100px;
	position: absolute;
	width: 100%;
	min-height: 15vh;
}

.basic-link {
	text-align: center;
	align-items: center;
}

.basic-link-branding {
	text-align: center;
	align-items: center;
	color: rgb(92, 131, 190);
	position: relative;
	top: 100px;
}
