* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	color: rgb(255, 118, 118);
}

p {
	color: antiquewhite;
}

.App {
	text-align: center;
	background-color: #3b3b3b;
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.home-page-main {
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	background-color: #3b3b3b;
	position: relative;
	min-height: 75vh;
}

.App-header-main {
	background-image: url(https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/source.gif);
	min-height: 16vh;
	/* margin: 0px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.basic-link {
	color: rgb(92, 131, 190);
}

.Logo {
	margin: 15px;
	background-image: url(./img/logo.png);
}
